@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Inter:wght@400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-green: #3B5D50;
  --primary-yellow: #F9BF29;
  --primary-black: #2F2F2F;
  --primary-white:#FFF;
  --primary-grey: #6A6A6A;

  --font-family: 'Inter', sans-serif;
}

body{
  font-family: var(--font-family);
}

h1{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color:var(--primary-white);
}
h2{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px ;
  color: var(--primary-black);
}
p{
  font-family: var(--font-family);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: var(--primary-grey);
}